function Shooter.new 0
    push constant 2
    call Memory.alloc 1
    pop pointer 0
    push constant 6062
    pop this 1
    push pointer 0
    call Shooter.draw 1
    pop temp 0
    push pointer 0
    return
function Shooter.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return
function Shooter.draw 1
    push argument 0
    pop pointer 0
    push constant 16384
    push this 1
    add
    pop local 0
    push local 0
    push constant 4096
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 4096
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 4096
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 4096
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 10240
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 14336
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 512
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 4608
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 14848
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 32
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 32
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 32
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 8
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 1
    neg
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 289
    add
    push constant 15
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 321
    add
    push constant 15
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 353
    add
    push constant 15
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 385
    add
    push constant 31
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 417
    add
    push constant 255
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 449
    add
    push constant 255
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 481
    add
    push constant 255
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Shooter.hide 1
    push argument 0
    pop pointer 0
    push constant 16384
    push this 1
    add
    pop local 0
    push local 0
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 32
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 64
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 96
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 128
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 160
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 192
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 224
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 256
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 288
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 320
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 352
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 384
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 416
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 448
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 480
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 289
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 321
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 353
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 385
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 417
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 449
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 481
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push constant 0
    return
function Shooter.move 0
    push argument 0
    pop pointer 0
    push argument 1
    pop this 0
    push this 0
    push constant 0
    eq
    not
    if-goto Shooter_1
    push constant 0
    return
    goto Shooter_0
label Shooter_1
label Shooter_0
    push this 0
    push constant 1
    eq
    not
    if-goto Shooter_3
    push pointer 0
    call Shooter.hide 1
    pop temp 0
    push this 1
    push constant 6049
    lt
    not
    if-goto Shooter_5
    push this 1
    pop this 1
    goto Shooter_4
label Shooter_5
    push this 1
    push constant 1
    sub
    pop this 1
label Shooter_4
    push pointer 0
    call Shooter.draw 1
    pop temp 0
    push constant 0
    return
    goto Shooter_2
label Shooter_3
label Shooter_2
    push this 0
    push constant 2
    eq
    not
    if-goto Shooter_7
    push pointer 0
    call Shooter.hide 1
    pop temp 0
    push this 1
    push constant 6077
    gt
    not
    if-goto Shooter_9
    push this 1
    pop this 1
    goto Shooter_8
label Shooter_9
    push this 1
    push constant 1
    add
    pop this 1
label Shooter_8
    push pointer 0
    call Shooter.draw 1
    pop temp 0
    push constant 0
    return
    goto Shooter_6
label Shooter_7
label Shooter_6
    push constant 0
    return